body {
    background-color: beige;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#card-container {
    border: 2px solid black;
}

.card {
    border: 2px solid red;
}
